{% extends 'base.html.twig' %}

{% block title %}Hello AdminDashboardController!{% endblock %}

{% block body %}
        {{ include('navbar.html.twig') }}
       <a href="/admin/dashboard/register">New Registration </a>
    <div>
        <canvas id="myChart"></canvas>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.min.js"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>#}
{#    <script>#}


{#        let myChart = document.getElementById('myChart').getContext('2d');#}

{#        // Global Options#}
{#        Chart.defaults.global.defaultFontFamily = 'Latin';#}
{#        Chart.defaults.global.defaultFontSize = 18;#}
{#        Chart.defaults.global.defaultFontColor = 'black';#}

{#        let massPopChart = new Chart(myChart, {#}
{#            type:'horizontalBar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea#}
{#            data:{#}
{#                labels:['Boston', 'Worcester', 'Springfield', 'Lowell', 'Cambridge', 'New Bedford'],#}
{#                datasets:[{#}
{#                    label:'Population',#}
{#                    data:[#}
{#                        617594,#}
{#                        181045,#}
{#                        153060,#}
{#                        106519,#}
{#                        105162,#}
{#                        95072#}
{#                    ],#}
{#                    //backgroundColor:'green',#}
{#                    backgroundColor:[#}
{#                        'red',#}
{#                        'rgba(54, 162, 235, 0.6)',#}
{#                        'rgba(255, 206, 86, 0.6)',#}
{#                        'rgba(75, 192, 192, 0.6)',#}
{#                        'rgba(153, 102, 255, 0.6)',#}
{#                        'rgba(255, 159, 64, 0.6)',#}
{#                        'rgba(255, 99, 132, 0.6)'#}
{#                    ],#}
{#                    borderWidth:1,#}
{#                    borderColor:'#777',#}
{#                    hoverBorderWidth:3,#}
{#                    hoverBorderColor:'#000'#}
{#                }]#}
{#            },#}
{#            options:{#}
{#                title:{#}
{#                    display:true,#}
{#                    text:'Largest Cities In Massachusetts',#}
{#                    fontSize:25#}
{#                },#}
{#                legend:{#}
{#                    display:true,#}
{#                    position:'right',#}
{#                    labels:{#}
{#                        fontColor:'#000'#}
{#                    }#}
{#                },#}
{#                layout:{#}
{#                    padding:{#}
{#                        left:50,#}
{#                        right:0,#}
{#                        bottom:0,#}
{#                        top:0#}
{#                    }#}
{#                },#}
{#                tooltips:{#}
{#                    enabled:true#}
{#                }#}
{#            }#}
{#        });#}
{#    </script>#}
{% endblock %}

