{% extends 'base.html.twig' %}

{% block title %}New StockIn{% endblock %}

{% block body %}
    <h3 class="text-dark p-2 mt-2">Create new StockIn</h3>

    {{ include('stock_in/_form.html.twig') }}

    <a href="{{ path('stock_in_index') }}">Back to list</a>
{% endblock %}
  {% block javascripts %}
      {{ parent() }}
      <script>
          $(document).ready(function () {
              $('.input-datepicker').datepicker({
                  clearBtn: true,
                  todayHighlight: true,
                  toggleActive: true,
                  autoclose: true,
                  format:'dd/MM/yyyy'
              });
          });
      </script>
  {% endblock %}
