{% extends 'base.html.twig' %}



{% block title %}New StockIn{% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}
    <h3 style="color: black" class="p-3">Create new StockIn</h3>

     {{ include('stock_in/_form.html.twig') }}


    <a href="{{ path('stock_in_index') }}">Back to list</a>

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function () {
                $('.input-datepicker').datepicker({
                    clearBtn: true,
                    todayHighlight: true,
                    toggleActive: true,
                    autoclose: true,
                    format: 'dd/mm/yyyy'
                });
            });
        </script>
    {% endblock %}

{% endblock %}

