{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
   {{ include('navbar.html.twig') }}

    <div class="mt-2">
        <img src="images/banner.png" style="width: 100%">
    </div>
    <div class="bg-dark mt-2" style="height: 100px;">
        <h3 class="p-3 text-light text-center pt-4">© Copyright 2021 PHP Intern (biTS)</h3>
    </div>

{% endblock %}