{{ form_start(form) }}
   <p id="msg"></p>
<input type="hidden" id="hiddenBalance">
    {{ form_widget(form) }}
    <button class="btn  btn-success" id="r">{{ button_label|default('Save') }}

    </button>
{{ form_end(form) }}
