{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn  btn-success" id="r">{{ button_label|default('Save') }}
        <script>$('#r').on('click',function ()
            {
                swal({
                    title: "Saved Successfully!",
                    text: "",
                    icon: "success",

                })
            })</script>
    </button>
{{ form_end(form) }}
