{% extends 'base.html.twig' %}

{% block title %}StockOut index{% endblock %}

{% block body %}
    <h1>StockOut index</h1>

    <table class="table">
        <thead>

        </thead>
        <tbody>
        <h1 class="text-dark">How do you expect of Stock Out more than Stock in of an Individual Product?</h1>
        </tbody>
    </table>


    <a href="{{ path('stock_out_index') }}" class="btn btn-info">Go back to Stock Out</a>
{% endblock %}
