{% extends 'base.html.twig' %}

{% block title %}New StockOut{% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}
    <h1>Create new StockOut</h1>

    {{ include('stock_out/_form.html.twig') }}

    <a href="{{ path('stock_out_index') }}">back to list</a>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script>
         $(document).ready(function () {
             $('.input-datepicker').datepicker({
                 clearBtn: true,
                 todayHighlight: true,
                 toggleActive: true,
                 autoclose: true,
                 format: 'dd-mm-yyyy'
             });
             $('.select').select2();
             $(".select").on('change',function() {

                 var id = $(this).val();

                 if(id) {
                     $.ajax({
                         url: "/stock/out/balance/" + id,
                         type: "GET",
                         dataType: "json",
                         success: function (data) {
                             var balance = data.balance;

                             $("label[for='stock_out_quantity']").html("<b>Quantity</b> [Available Quantity is " + balance+"]").css('color', 'blue');
                             $( "label[for='stock_out_quantity'] b" )
                                 .css( "color", "black" )
                           //  $("#hiddenBalance").text(balance);
                           //   $("#hiddenBalance").attr("value",balance);
                           //  var value1=0;


                             jQuery.validator.addMethod("smaller", function(value) {
                                 var oldValue=balance;
                             //    console.log(value < oldValue);
                                 return  (value <= oldValue);
                             }, " Quantity must be smaller than " +balance );
                         }
                     });
                 }else{
                     $("#msg").text('Please Select Product');

                 }
             });



              $(".stockOutForm").validate({
                 rules:{

                     'stock_out[date]':{
                         required:true,
                     },
                     'stock_out[quantity]':{
                         required:true,
                         number: true,
                         smaller : true,
                     }
                 },
                 messages:{

                     'stock_out[date]':{
                         required:'Please Select Date',
                     },
                     'stock_out[quantity]':{
                         required:'Please give a valid quantity',
                         number:'Quantity has to be a number'
                     }
                 },
                 errorPlacement: function (label, element) {
                     label.addClass('mt-2 text-danger');
                     label.insertAfter(element);
                 },
                 highlight: function (element, errorClass) {
                     $(element).parent().addClass('has-danger')
                     $(element).addClass('form-control-danger')
                 }
             });
         });
     </script>
 {% endblock %}

