{% extends 'base.html.twig' %}

{% block title %}New StockOut{% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}
    <h3 class="text-dark p-2 mt-2">Create new StockOut</h3>

    {{ include('stock_out/_form.html.twig') }}

    <a class="btn btn-info m-2" href="{{ path('stock_out_index') }}">back to list</a>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script>
         $(document).ready(function () {
             $('.input-datepicker').datepicker({
                 clearBtn: true,
                 todayHighlight: true,
                 toggleActive: true,
                 autoclose: true,
                 format:'dd/MM/yyyy'
             });

             $('.select').select2();
             $(".select").on('change',function() {

                 var id = $(this).val();

                 if(id) {
                     $.ajax({
                         url: "/stock/out/balance/" + id,
                         type: "GET",
                         dataType: "json",
                         success: function (data) {
                             var balance = data.balance;

                             $("label[for='stock_out_quantity']").html("<b>Quantity</b> [Available Quantity is " + balance+"]").css('color', 'blue');
                             $( "label[for='stock_out_quantity'] b" )
                                 .css( "color", "black" )
                             if(balance){
                                 jQuery.validator.addMethod("smaller", function(value) {
                                     var oldValue=balance;
                                     //    console.log(value < oldValue);
                                     return  (value <= oldValue);
                                 }, " Quantity must be smaller than " +balance );
                             }
                         }
                     });
                 }else{
                     $("#msg").text('Please Select Product');
                 }
             });
         });
     </script>
 {% endblock %}


