<form method="post" action="{{ path('product_delete', {'id': product.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token"  value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-danger" id="deleteButton">Delete</button>
</form>

<script>
    $(document).ready(function() {

        $('.deleteButton').click(function (e) {
            e.preventDefault();

            id = $(this).attr('id');

            $.ajax({

                url: '/product/'+id,
                data: {'id': id},
                method: 'post',
                success: function (data, response) {

                    if (response == 'hello') {
                        alert('Success');
                    }
                },
                error: function () {

                },
            });

        });
    })
</script>