{% extends 'base.html.twig' %}
{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
        <div class="bg-dark">
                <h3 class="p-3 text-light text-center">Inventory Management System </h3>
        </div>


        <div style="width: 50%; margin-left:25%;margin-top:2%;background:lightgray;">
                <div class="p-5">
                  {{form(form)}}
                        <a href="{{path('app_login')}}" class="btn btn-info my-1">Back to Login</a>

                </div>
        </div>
{% endblock %}
