{% extends 'base.html.twig' %}

{% block title %}New ProductType{% endblock %}

{% block body %}
   {{ include('navbar.html.twig') }}
    <h1>Create new ProductType</h1>

    {{ include('product_type/_form.html.twig') }}

    <a href="{{ path('product_type_index') }}">Back to list</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#b').on('click', function () {
                var input = $('#product_type_type');
                if (input.val() ==="") {
                    Swal.fire({
                        title: "Error",
                        icon: "error",
                    });return false;


                } else
                    Swal.fire({
                        title:"Created Successfully!",
                        icon:"success",
                        timer:1500,
                        position: 'top-end',
                        showConfirmButton: false,
                    });
                // swal({
                //     title: "Created Successfully!",
                //     text: "",
                //     icon: "success",
                // })
            })
        })

    </script>
{% endblock %}