{% extends 'base.html.twig' %}

{% block title %}New ProductType{% endblock %}

{% block body %}

    {{ include('product_type/_form.html.twig') }}

    <a href="{{ path('product_type_index') }}">Back to list</a>
{% endblock %}
